#page .welcome td {
    display: block;
    max-width: 1360px;
    height: 280px;
    background-image: url(/Front_Page/_files/philly-skyline-sleepyturtle.jpg);
    background-position: 66% 0%;
    background-repeat: no-repeat;
    padding: 2em;
    border: 3px solid #b5b5b5;
}
#page .welcome {
    width: 100%;
    border: none;
}
#page .welcome a {
    text-decoration: none;
}
#page .welcome a:hover {
    text-decoration: underline;
}
#page .welcome h1, #page .welcome h2, #page .welcome h3, #page .welcome h4 {
    background-image: url(/static/img/80_trans_white_bg.png);
    background-repeat: repeat;
    width: auto;
    float: right;
    padding: 0 0.25em 0 0.25em;
}
#page .welcome h1 {
    padding: 0.1em 0.25em 0.1em 0.25em;
}
#page .welcome h3 {
    padding: 0.2em 0.3em 0.25em 0.3em;
    margin-top: -1em;
}
#page .welcome .searchbox * {
    vertical-align: middle;
}
#page .welcome .searchbox input {
    margin-top: 0.4em;
}